/*  STYLES */
* {
  box-sizing: border-box;
}

/* BASE STYLE */

a:link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav li {
  list-style: none;
}

footer {
  margin: 20px;
  padding-top: 20px;
  border-top: 1px solid lightgrey;
}

/* TYPOGRAPHY */

h2 {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 800;
}

h3 {
  font-weight: normal;
}

p {
  font-size: 1em;
}

footer .name,
footer a {
  font-weight: 800;
  font-size: .9em;
}

footer a {
  text-transform: uppercase;
}

/* LAYOUT STYLES */

header,
h2,
h3,
p {
  text-align: center;
}

img {
  width: 100%;
}

header img {
  width: 60%;
}

footer .name {
  float: left;
}

footer a {
  float: right;
}

/*  HELPER CLASSES */

.container {
  width: 90%;
  margin: 0 auto;
}

.clearfix::after {

}
