/*  ---------------------
    Universal Styles
------------------------ */

* {
  box-sizing: border-box;
}

/*  ---------------------
    Main Styles
------------------------ */




/*  ---------------------
    Layout Styles
------------------------ */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.portfolio img {
  width: 100%;
}

/*  ---------------------
    Typography
------------------------ */




/*  ---------------------
    Helper Classes
------------------------ */




/*  ---------------------
    Media Queries
------------------------ */

@media (min-width: 769px) and (max-width: 1023px) {}

@media (min-width: 1024px) {}
