/*  STYLES */
* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

header,
h2,
h3,
p {
  text-align: center;
}

img {
  margin: 0 auto;
}

.main-nav li {
  list-style: none;
}

/*  HELPER CLASSES */

.clearfix::after {

}
